:root {
    --cor-de-fundo: #383838;
    --cor-texto: rgb(223, 223, 223);
    --tamanho-texto: 1.6em;
    --tamanho-AreaJogo: 500px;
    --cor-QuadradoJogo: rgb(75, 75, 75);
    --cor-QuadradoJogo-ativo: grey;
    --borda-QuadradoJogo: 5px solid rgb(44, 44, 44);
    --cor-SimboloJogo: rgb(223, 223, 223);
    --tamanho-SimboloJogo: 8em;
    --cor-BotaoReiniciar: rgb(75, 75, 75);
    --cor-BotaoReiniciar-borda: rgb(44, 44, 44);
    --cor-BotaoReiniciar-ativo: rgb(102, 0, 0);
}

html,
body {
    font-family: Helvetica;
    background-color: var(--cor-de-fundo);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.JogadorAtivo {
    color: var(--cor-texto);
    font-size: var(--tamanho-texto);
}

.resultado-partida {
    color: var(--cor-texto);
    font-size: var(--tamanho-texto);
}

.AreaJogo {
    width: var(--tamanho-AreaJogo);
	height: var(--tamanho-AreaJogo);
	margin: 0 auto;
    display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
}

.QuadradoJogo {
    background-color: var(--cor-QuadradoJogo);
    color: var(--cor-SimboloJogo);
    border: var(--borda-QuadradoJogo);
    font-weight: bold;
    font-size: var(--tamanho-SimboloJogo);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QuadradoJogo:active {
    background-color: var(--cor-QuadradoJogo-ativo);
}

.BotaoReiniciar {
    background-color: var(--cor-BotaoReiniciar);
    border: 5px solid var(--cor-BotaoReiniciar-borda);
    color: var(--cor-texto);
    font-size: var(--tamanho-texto);
    width: 500px;
    height: 50px;
    cursor: pointer;
}

.BotaoReiniciar:active {
    background-color: var(--cor-BotaoReiniciar-ativo);
}